.app {
  font-family: "Raleway";
  /* font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%; */
  /* background-color: red; */
}

.app h1 {
  color: blue;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 160%;
}

.app-category {
  /* display: flex;
    justify-content: space-between;
    flex-wrap: wrap; */
}
